body {

    background-color:rgb(95, 159, 201)

}
.container {

    margin:auto;
    margin-top:15%;
    background-color:#fff;
    width:30%;
    text-align:center;
    padding:5px;
    font-size:25px;
    border-radius:10px;
    
}

.relogio {

    font-size:150%;

}

button {

    width:25%;
    margin:3%;
    border-radius:3px;  

}

.iniciado {

    color:rgb(27, 24, 219);

}

.pausado {

    color:rgb(233, 78, 73);

}
